services:
  worker:
    build: .
    container_name: rag_worker
    restart: on-failure
    networks:
      - async-rag
    depends_on:
      - rabbitmq
      - seaweedfs
      - qdrant
    environment:
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}

      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_BUCKET: ${S3_BUCKET}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}

      QDRANT_HOST: ${QDRANT_HOST}
      QDRANT_PORT: ${QDRANT_PORT}

  seaweedfs:
    image: chrislusf/seaweedfs
    ports:
      - "8333:8333"
      - "9333:9333"
    command: "server -s3 -filer -dir=/data -s3.port=8333 -s3.config=/etc/seaweedfs/s3_users.json"
    networks:
      - async-rag
    volumes:
      - seaweed-data:/data
      - ./s3_users.json:/etc/seaweedfs/s3_users.json # This file is only for local development

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672" # Dashboard
    networks:
      - async-rag
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbit-mq-data:/var/lib/rabbitmq

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    networks:
      - async-rag
    volumes:
      - qdrant-data:/qdrant/storage

volumes:
  seaweed-data:
    driver: local
  qdrant-data:
    driver: local
  rabbit-mq-data:
    driver: local

networks:
  async-rag:
    driver: bridge